<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Abdullah Khan Resume</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel='shortcut icon' type='image/x-icon' href='/Images/favicon.ico' />
  <link rel="apple-touch-icon-precomposed" href="/Images/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/Images/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/Images/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/Images/apple-touch-icon-144x144-precomposed.png">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

  <link rel="stylesheet" href="/Content/normalize.min.css">
  <link rel="stylesheet" href="/Content/main.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/Scripts/jquery-1.10.1.min.js"><\/script>')</script>
  <script src="/Scripts/jquery.hashchange.min.js"></script>
  <script src="/Scripts/jquery.easytabs.min.js"></script>

 <script src="/Scripts/main.js"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
      <![endif]-->
</head>
  <body class="bg-fixed bg-1">
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
   <div class="main-container">
    <div class="main wrapper clearfix">
      <!-- Header Start -->
        <header id="header">
            <div id="logo">
                <h2>
                    Abdullah Khan
                </h2>
                <h4>
                    Developer / Software Engineer
                </h4>
            </div>
        </header>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a href="#about"><i class="icon-user"></i><span> About Me</span></a>
                </li>
                <li class='tab'>
                  <a href="#resume"><i class="icon-file-text"></i><span> Resume</span></a>
                </li>
@*                <li class='tab'>
                  <a href="#portfolio"><i class="icon-heart"></i><span> Portfolio</span></a>
                </li>*@
                <li class='tab'>
                  <a href="#contact"><i class="icon-envelope"></i><span> Contact</span></a>
                </li>

            </ul>
          <!-- End Tab List -->
            <div id="tab-data-wrap">
              <!-- About Tab Data -->
                <div id="about">
                    <section class="clearfix">
                        <div class="g2">
                            <div class="photo">
                               <img src="/Images/aadi1.jpg" alt="Abdullah Khan">
                            </div>
                            <div class="info">
                                <h2>
                                    I'm Abdullah Khan
                                </h2>
@*                                <h4>
                                    Developer / Software Engineer
                                </h4>*@
                                <p>
                                    I am a Software Engineer. I have did my MCS from Punjab University. I love to develop Websites, Desktop Softwares and Mobile Applications.
                                </p>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="main-links sidebar">
                                <ul>
                                    <li>
                                        <a href="#resume">View My Resume</a>
                                    </li>
                                    <li>
                                        <a href="~/Resume/Resume_Abdullah_Khan.pdf">Download Resume</a>
                                    </li>
                                    <li>
                                        <a href="#contact">Want to conduct Interview</a>
                                    </li>
@*                                    <li>
                                        <a href="#features">Features</a>
                                    </li>*@
                                </ul>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="contact-info">
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-envelope"></i>
                              <div class="item-data">
                                <h3><a href="mailto:abdullah.khanf13@gmail.com">Abdullah Khan</a></h3>
                                <p>Email Address</p>
                              </div>
                            </div>
                          </div>
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-facebook"></i>
                              <div class="item-data">
                                <h3><a href="https://www.facebook.com/AbdullahAAdiOfficial"> Abdullah Khan</a></h3>
                                <p>Facebook Profile</p>
                              </div>
                            </div>
                          </div>
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-linkedin"></i>
                              <div class="item-data">
                                <h3><a href="https://pk.linkedin.com/pub/abdullah-khan/ba/330/72a">Abdullah Khan</a></h3>
                                <p>LinkedIn Profile</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section><!-- content -->
                </div>
              <!-- End About Tab Data -->
              <!-- Resume Tab Data -->
                <div id="resume">
                    <section class="clearfix">
                        <div class="g2">
                            <br />
                            <br />
                            <h3 style="color:blue">
                                Fresh Graduate
                            </h3>
@*                            <ul class="no-list work">
                                <li>
                                    <h5>
                                        Final Year Project
                                    </h5><span class="label label-info">2015</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante.
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        .net Programmer
                                    </h5><span class="label label-info">2010-2011</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante.
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        Android Programmer
                                    </h5><span class="label label-info">2011-2012</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante.
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        Being Awesome
                                    </h5><span class="label label-danger">2012-Till Death</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante.
                                    </p>
                                </li>
                            </ul>*@
                            <h3 style="text-align:center" >
                                Projects
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
<b>     <u>                              Virtual Job Fair Website (MSC Final year Project)
    </u> </b>
                                    </h5><span class="label label-success">Asp.net</span>
                                        <span class="label label-success">MVC 4</span>
                                        <span class="label label-success">My SQl</span>
                                    <p>
                                  
This site is used to host own online virtual job fair that manage virtual fair and make it
possible to reach out to a global audience in real time interaction.<br /> It will provide
platform where companies can arrange different events and webinars to get the
attention of audience.<br /> A list of companies is available at the site, so any job seekers
can easily find his desired Company.<br /> Where employer after reviewing the job seekers
CVs and other material can conduct an online interview either video or voice. </p>
                                </li>
                                <li>
                                    <h5>
                                        Online Resume Creator
                                    </h5><span class="label label-info">Asp.net</span>
                                        <span class="label label-info">MVC 4</span>
                                        <span class="label label-info">My SQl</span><p>
                                             It creates online resume of the users by only entering the required data.
                                             MS Word file is generated as a result
                                                                              </p>
                                </li>
                                <li>
                                    <h5>
                                        Pakiza Shoes Store
                                    </h5><span class="label label-info">Asp.net</span>
                                        <span class="label label-info">MVC 4</span>
                                        <span class="label label-info">My SQl</span><p>
                                         <p> It contains all the variety of shoes also deals with online order placing by providing required information 

                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        Online Chat Room
                                    </h5>  <span class="label label-info">Asp.net</span>
                                        <span class="label label-info">MVC 5</span>
                                        <span class="label label-info">My SQl</span>
                                    <p>
                                        This project is developed using signal R library in MVC5.User enters the name and chat has been started.
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        Student Management System 
                                    </h5>  <span class="label label-info">Asp.net</span>
                                        <span class="label label-info">N-tier</span>
                                    <p>
                                        This project is developed using signal R library in MVC5.User enters the name and chat has been started.
                                    </p>
                                </li>
                                <li>
                                    <h5>
                                        Hostel Management System 
                                    </h5>  <span class="label label-info">HTML</span>
                                        <span class="label label-info">JavaScript</span>
                                        <span class="label label-info">CSS</span>
                                       <span class="label label-info">MS Access</span>


                                    <p>
                                    Developed in html to learn the basic Html, css and javascript.
                                         </p>
                                </li>
                                                                <li>
                                    <h5>
                                        Hospital Management System 
                                    </h5>  <span class="label label-info">Database</span>
 
                                </li>
                                 <li>
                                    <h5>
                                        Child ABC Learning 
                                    </h5>  <span class="label label-info">Android</span>
 
                                </li>
                                                                 <li>
                                    <h5>
                                        Password Manager App 
                                    </h5>  <span class="label label-info">Android</span>
 
                                </li>
                                
                                             </ul>
               
                                         <h3>
                                Education
                            </h3>
                            <ul class="no-list work">
                                <li>
                                    <h5>
                                        Punjab University College of Information Technology,University of Punjab
                                    </h5><span class="label label-success">2013-2015</span>
                                    
                    <h4><u>MSC (Computer Science)</u></h4><br />
                                    <p>
                    <b>Major:</b> Computer Science <br />
                                        <br />
                    <B><u>Relevant Courses:</u></B></p>
                                    <ul><li> Object Oriented Programming</li>
                                        <li> Data Structures</li> 
                                        <li> Analysis of Algorithms</li>
                                        <li> Operating System</li>
                                        <li> Enterprise Application Development(.net)</li>
                                        <li> Databases</li>
                                        <li> Software Engineering</li>
                                        <li> Object Oriented Analysis and Design</li>
                                        <li> Android</li></ul>
                                                    
            
                                </li>
                                <li>
                                    <h5>
                                        Punjab College of Commerce, University of Punjab
                                    </h5>
                                    <br />
                   <br />
                                    <span class="label label-success">2011-2013</span>
                   
                                                     <h4><u>B.Com (IT)</u></h4><br />
                                    <p>
                    <B><u>Relevant Courses:</u></B></p>
                                    <ul><li> Business Law</li>
                                        <li> Computer Science</li> 
                                        <li> Cost Accounting</li>
                                        <li> Auditing</li>
                                        <li> Advance Financial Accounting</li>
                                        <li> Income Tax</li>
                                        <li> Sales Tax</li>
                                        <li> Statistics</li></ul>
                                                    
            
                                </li>
                                <li>
                                    <h5>
                                        Govt. Islamia College Civillines, Lahore
                                    </h5>
                                    <br />
                                    <br />
                                    <span class="label label-warning">2009-2011</span>
                    <h4><u>Inter in Computer Sciences</u></h4><br />
                                    <p>
                    <b>Major:</b> Computer Science <br />
                                        <br />
                                </li>
                                <li>
                                    <h5>
                                        Govt M.I High School
                                    </h5>
                                    <br />
                                    <br />
                                    <span class="label label-warning">2009</span>
                    <h4><u>Matriculation</u></h4><br />
                                </li>

                            </ul>
                        </div>
                        <div class="g1">
                            <div class="sidebar">
                                <h3>
                                    Skills
                                </h3>
                                <h5>
                                    Tools
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 75%"><span>Visual Studio</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 60%"><span>Android Studio</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 30%"><span>Matlab</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 70%"><span>Eclipse</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 50%"><span>Dreamweaver</span></span>
                                </div>
                                <div class="meter pomengrate">
                                    <span style="width: 60%"><span>Microsoft Office</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 65%"><span>Rational Rose</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    Design
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 50%"><span>User Interface</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 50%"><span>XML</span></span>
                                </div>
                                                                <div class="meter carrot">
                                    <span style="width: 50%"><span>XAML</span></span>
                                </div>

                                <div class="meter wisteria">
                                    <span style="width: 60%"><span>Web Applications</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    Languages
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 53.3%"><span>HTML5 /CSS3</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 80%"><span>Asp.net/MySql</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 80%"><span>Oop/Data Structures</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 50%"><span>Android</span></span>
                                </div>
                                <div class="meter asbestos">
                                    <span style="width: 81%"><span>Database</span></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
              <!-- End Resume Tab Data -->
              @*<!-- Portfolio Tab Data -->
                <div id="portfolio">
                    <section class="clearfix">
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/1" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/1" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/2" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/2" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/3" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/3" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/4" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/4" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/sports/5" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/sports/5" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="image">
                                <img src="http://lorempixel.com/306/306/business/2" alt="">
                                <div class="image-overlay">
                                    <div class="image-link">
                                        <a href="http://lorempixel.com/606/606/business/2" class="btn">Full View</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </section>
                </div>*@
              <!-- End Portfolio Data -->
              <!-- Contact Tab Data -->
                                                     <div class="g2">
                            <br />
                            <br />
                            <h3 style="color:blue">
<u>Contact</u>
                            </h3>
                                </div>

                <div id="contact">

                    <section class="clearfix">
                       <div class="g1">

                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-globe"></i>
                            </div>

                            <div class="sny-icon-content">
                              <h4>My Address</h4>
                              <p>House no. 233, D block, Gulshan Ravi, Lahore</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-phone"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>Mobile Number</h4>
                              <p>+92-321-4733-971<br/>+92-321-4509-325</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-user"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>About Me</h4>
                              <p>I love to work, Want to hire??<br /> i am just an email away.</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-envelope"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>Email Id</h4>
                              <p>abdullah.khanf13@gmail.com<br/>aabdullahh321@gmail.com</p>
                            </div>
                         </div>
                       </div>
 
                                              <div class="break"></div>
                       
                    </section>
                </div>
              <!-- End Contact Data -->
            </div>
        </div>
        <!-- End Tab Container -->
        <footer>
            <p>
                Designed with lots of love at @*<a href="http://www.mrova.com" title="Pune web designing company">mRova</a>*@ Abdullah Khan </p>
        </footer>
    </div><!-- #main -->
</div><!-- #main-container -->



</body>
</html>
